


body{
	font-family: 'Coming Soon', sans-serif;
}

.navbar{
	width:100%;
	height:80px;
	display: inline-block;
	background-color: #3377ff;
}

.logo{
	float:left;
	width:300px;
	color: white;
	font-size: 45px;
	line-height: 80px;
	align-content: center;
	margin-left:50px;
}

.sign-in{
	float:right;
	width:400px;
	color: white;
	display:inline-block;
	margin-right:40px;
}

.login-button{
	float:right;
	line-height: 80px;
}

.password{
	display:inline-block;
	height:80px;
}

.email{
	float:left;
	height:80px;
	margin-right:20px;
}

.email h3{
	padding-top:12px;
}

.password h3{
	padding-top:12px;
}

.login-button button{
	background-color: #ccddff;
	border: 1px solid gray;
}

.main-content{
	display:inline-block;
}

.intro-summary{
	float:left;
	width:700px;
	padding-left:100px;
	padding-top:100px;
}

.sign-up-form{
	float:right;
	width:390px;
}

ul{
	list-style: initial;
	list-style-position: inside;

}

.intro-summary h2{
	font-size: 36px;
}

.intro-summary li{
	padding-left:20px;
	font-size: 20px;
	padding-top:30px;
	color: #666666;
}

.sign-up-form h1{
	font-size: 60px;
}

.sign-up-form{
	padding-top:20px;
}

.name-email-pass{
	margin-top:20px;
}

input{
	border: 1px solid gray;
	padding-bottom:10px;
	margin-bottom:10px;
}

input[name=first-name]{
	float:left;
	width:180px;
}

input[name=last-name]{
	float:right;
	width:180px;
}

input[name=email]{
	width:100%;
}

input[name=password], input[name=password-confirm]{
	width:100%;
}

.birthday{
	width:100%;
}

.birthday h2{
	font-size:22px;
	padding-bottom:10px;
}

.sign-up-button button{
	border:1px solid black;
	background-color:green;
	color:white;
	text-align: center;
	width: 200px;
	font-size: 22px;
}

.sign-up-button{
	padding-left:100px;
	padding-right:100px;
	padding-top:10px;
}